/* 

--- 01 TYPOGRAPHY SYSTEM

    - FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - Font weights:
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700
    
    - Line heights:
    Default: 1
    Small: 1.05
    Medium: 1.2
    Paragraph default: 1.6

    - Letter spacing
    -0.5px
    0.75px

--- 02 COLORS

- Primary: #221449; #d86c2d; #f19d35
- Tints: #8b51e1; #f7f3ff;
- Shades: 
- Accents:
- Grays: #555 #333 #6f6f6f #767676


--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER RADIUS

Default: 9px
11px

--- 07 WHITESPACE

    - SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Work Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #221449;
  color: #f7f3ff;

  /* Works only if there is nothing absolutely 
  positioned in relation to the body */
  overflow-x: hidden;
}

.main-container {
  display: flex;
}

/* ::selection {
  background: #ff9292ca;
} */

/* *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #e622228e;
  transition: all 200ms;
} */

/******************************/
/* GENERAL REUSABLE COMPONENTS */
/******************************/

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

/* section:not(:last-child) {
  margin-bottom: 9.6rem;
} */

section {
  /* margin-bottom: 9.6rem; */
  padding: 3.2rem 0 3.2rem;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #f19d35;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  transition: all 0.3s;

  /* for .btn itself */
  border: none;
  cursor: pointer;
}

.btn--full:link,
.btn--full:visited {
  background-color: #9a359d;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #e1697c;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #f7f3ff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #221449;
  color: #f7f3ff;
  /* Trick to add border to the inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #221449;
  font-family: inherit;
  color: #f7f3ff;
  align-self: flex-start;
}

.btn--form:hover {
  background-color: #3f248a;
  /* color: #555; */
}

.link:link,
.link:visited {
  display: inline-block;
  color: #d86c2d;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #f19d35;
  border-bottom: 1px solid transparent;
}

/* main {
  height: 100vh;
  width: 100%;
  overflow: auto;
} */

/* HELPER CLASSES */

.margin-right-sm {
  margin-right: 1.6rem;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}
