/* - FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/******************************/
/* BELOW 1024px ( 1024 / 16 = 64em )*/
/* Smaller desktops */
/******************************/

@media (max-width: 64em) {
  .name-email-flex {
    flex-direction: column;
  }

  .cta-text-box {
    padding: 3.6rem;
  }

  .carousel {
    flex-direction: column;
  }

  .testimonial-author,
  .testimonial-job {
    text-align: center;
  }
}

/******************************/
/* BELOW 944px */
/* Tablets */
/******************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .about {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .about-img {
    width: 40%;
    justify-self: center;
    grid-row: 2;
  }

  .carousel {
    padding: 3.6rem 6.4rem;
  }

  .testimonial-text {
    margin-top: 1.1rem;
  }
}

/******************************/
/* BELOW 752px */
/* Smaller tablets */
/******************************/

@media (max-width: 47em) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text-box {
    text-align: center;
  }

  .hero-img {
    width: 50%;
    justify-self: center;
  }

  .work-cards {
    grid-template-columns: 1fr 1fr;
  }

  .work-card:nth-child(3) {
    grid-column: span 2;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding-top: 4.8rem;
    text-align: center;
    padding-bottom: 0;
  }

  /* MOBILE NAV */
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .main-nav {
    background-color: rgba(93, 52, 155, 0.774);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hiding the nav without display: none */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/******************************/
/* BELOW 544px (Phones)
/******************************/

@media (max-width: 34em) {
  .about-img {
    width: 100%;
  }

  .hero-img {
    width: 85%;
  }

  .work-cards {
    grid-template-columns: 1fr;
  }

  .work-card:nth-child(3) {
    grid-column: span 1;
  }

  .carousel img {
    height: auto;
    width: 70%;
  }
}

/******************************/
/* BELOW 352px (Phones)
/******************************/

@media (max-width: 22rem) {
  .margin-right-sm {
    margin-right: 0;
  }

  .btn--full.margin-right-sm {
    margin-bottom: 1.4rem;
  }

  .carousel {
    padding: 2.4rem 4.8rem;
  }

  .cta .heading-secondary {
    font-size: 4.8rem;
  }
}
